global:

# scrape after every 15 seconds
  scrape_interval: 15s

# list the place prometheus should fetch metrics from
scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
